@import "tailwindcss";

@theme {
  --color-shadow: #0B0B0B;
  --color-brown: #4E342E;
  --color-beige: #F5EFE6;
  --color-gold: #D4A373;

  --font-baloo: "Baloo 2", cursive;
  --font-pacifico: "Pacifico", cursive;
}

@layer utilities {
  .bg-shadow { background-color: var(--color-shadow); }
  .bg-brown { background-color: var(--color-brown); }
  .bg-beige { background-color: var(--color-beige); }
  .text-gold { color: var(--color-gold); }

  .font-baloo { font-family: var(--font-baloo); }
  .font-pacifico { font-family: var(--font-pacifico); }
}
